<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:linear-gradient(to top, #ad1d1b, #e2322a) !important">
    <a class="navbar-brand" href="http://localhost:4200/"><img src="./assets/img/logo.png" width=60%> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:30% !important; font-size: 25px;font-family: 'Times New Roman', Times, serif; ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="http://localhost:4200/place-to-visit">Place to Visit</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cab
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:tomato;">
            <a class="dropdown-item" href="http://localhost:4200/cab-register">Register</a>
            <a class="dropdown-item" href="#">Booking</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="http://localhost:4200/guides">Guides</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Disclaimer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:tomato;">
              <a class="dropdown-item" href="#">Report Issues</a>
              <a class="dropdown-item" href="#">Code of Conduct</a>
              <a class="dropdown-item" href="#">Feedback</a>

            </div>
          </li>
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="background-color:skyblue;color: black;" type="submit">Search</button>
        </form> -->
    </div>
  </nav>
    
 






<router-outlet></router-outlet>
