
 <h1 style="margin-left: 30%"><b> List of Guides by Location </b></h1>


<div class="container mt-3">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full name</th>
          <th>phone-no</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>John</td>
          <td>9845030293</td>
          <td>Bharatpur</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>9845618809</td>
          <td>parsa</td>
        </tr>
        <tr>
          <td>Ashmita</td>
          <td>9845618809</td>
          <td>tandi</td>
        </tr>
        <tr>
          <td>Anjana</td>
          <td>056528104</td>
          <td>bharatpur</td>
        </tr>
      </tbody>
    </table>
    <b>For Registering with us please click the button below:-</b> <br><br><br>


    <a href="http://localhost:4200/register"><input class="btn btn-primary" type="button" value="Register" ></a>
    

  </div>
  